<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.bigdata.mvc.ConfigServlet</servlet-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>/ConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SContextServlet</servlet-name>
    <servlet-class>com.bigdata.mvc.SContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SContextServlet</servlet-name>
    <url-pattern>/ServletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SContextServlet2</servlet-name>
    <servlet-class>com.bigdata.mvc.SContextServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SContextServlet2</servlet-name>
    <url-pattern>/ServletContext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SContextServlet3</servlet-name>
    <servlet-class>com.bigdata.mvc.SContextServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SContextServlet3</servlet-name>
    <url-pattern>/ServletContext3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet1</servlet-name>
    <servlet-class>com.bigdata.mvc.CookieServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet1</servlet-name>
    <url-pattern>/Cookie1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet2</servlet-name>
    <servlet-class>com.bigdata.mvc.CookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet2</servlet-name>
    <url-pattern>/Cookie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet3</servlet-name>
    <servlet-class>com.bigdata.mvc.CookieServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet3</servlet-name>
    <url-pattern>/Cookie3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet4</servlet-name>
    <servlet-class>com.bigdata.mvc.CookieServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet4</servlet-name>
    <url-pattern>/Cookie4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieServlet5</servlet-name>
    <servlet-class>com.bigdata.mvc.CookieServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet5</servlet-name>
    <url-pattern>/Cookie5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.bigdata.mvc.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/Session1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet2</servlet-name>
    <servlet-class>com.bigdata.mvc.SessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet2</servlet-name>
    <url-pattern>/Session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet3</servlet-name>
    <servlet-class>com.bigdata.mvc.SessionServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet3</servlet-name>
    <url-pattern>/Session3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bigdata.mvc.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.bigdata.mvc.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>com.bigdata.mvc.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/MenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.bigdata.mvc.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.bigdata.mvc.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/DispatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatcherServlet2</servlet-name>
    <servlet-class>com.bigdata.mvc.DispatcherServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet2</servlet-name>
    <url-pattern>/DispatcherServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>com.bigdata.mvc.IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/IncludeServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>IncludeServlet2</servlet-name>
    <servlet-class>com.bigdata.mvc.IncludeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet2</servlet-name>
    <url-pattern>/IncludeServlet2</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextName</param-name>
    <param-value>어플리케이션 공유값(유지)</param-value>
  </context-param>
</web-app>