<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bigdata.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bigdata.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectMembers</servlet-name>
    <servlet-class>com.bigdata.controller.SelectMemberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMembers</servlet-name>
    <url-pattern>/SelectMembers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Join</servlet-name>
    <servlet-class>com.bigdata.controller.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Join</servlet-name>
    <url-pattern>/Join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Remove</servlet-name>
    <servlet-class>com.bigdata.controller.RemoveMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetLoginUserInfo</servlet-name>
    <servlet-class>com.bigdata.controller.GetLoginUserInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLoginUserInfo</servlet-name>
    <url-pattern>/GetLoginUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateInformation</servlet-name>
    <servlet-class>com.bigdata.controller.UpdateInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInformation</servlet-name>
    <url-pattern>/UpdateInformation</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>SearchMember</servlet-name>
    <servlet-class>com.bigdata.controller.SearchMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMember</servlet-name>
    <url-pattern>/SearchMember</url-pattern>
  </servlet-mapping>
</web-app>